.productos-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.producto-card{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.producto-card h3 {
    min-height: 3.5rem; /* Altura mínima para 2 líneas aprox */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Opcional: centra horizontalmente si querés */
    text-align: center; /* Para centrar el texto si es largo */
    margin-bottom: 8px;
}

/* .imagen-card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
} */

 .producto-card button:hover {
    /* background-color: #0056b3; */
    background-color: #007bff;
    color: white;
    border: none;
}