.productos-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.producto-card{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.producto-card h3 {
    min-height: 3.5rem; /* Altura mínima para 2 líneas aprox */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Opcional: centra horizontalmente si querés */
    text-align: center; /* Para centrar el texto si es largo */
    margin-bottom: 8px;
}

 .producto-card button:hover {
    /* background-color: #0056b3; */
    background-color: #007bff;
    color: white;
    border: none;
}

/*******************************
    Estilos para el SPINNER
*******************************/
.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db; /* Azul giratorio */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  