.btn-active{
    background-color: darkgreen;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5em 1em;
}
.btn-deactivate{
    background-color: darkred;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5em 1em;
}