.tarjeta-proyecto{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 
.tarjeta-proyecto button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
 */
.tarjeta-proyecto button:hover{
    /* background-color: #0056b3; */
    background-color: #007bff;
    color: white;
    border: none;
}