/* Reseteo básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*********************
    Posible DGRID
**********************/
/* .app-container{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto auto 1fr auto;
} */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Usa viewport dinámico para que funcione bien en móviles */
}


/*********************
      Header/Nav
**********************/
/* header {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  padding: 10px;
} */

header {
  background-color: darkgreen;
  padding: 10px;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  padding: 10px;
  color: white;
}


/*********************
  Contenedor tarjetas
**********************/
.contenedorTarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  flex-wrap: wrap; /* Opcional si querés que se acomoden en varias filas */
}

/*********************
  Tarjetas Individuales
**********************/
.tarjetaIndividual {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;  /* centra en el eje cruzado (horizontal en column) */
  justify-content: center; /* centra en el eje principal (vertical en column) */
  gap: 1em;
  max-width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000;
}

/* Main content */
.main-content {
  flex: 1; /* Ocupa el espacio restante entre nav y footer */
  overflow-y: auto; /* Si hay mucho contenido, se scrollea solo esta área */
  padding: 20px;
  background-color: #f5f5f5;
}

/* Footer fijo al final */
footer {
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

.tarjeta-proyecto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
}