/* Reseteo básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*********************
      Header/Nav
**********************/
header {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  padding: 10px;
}


/*********************
  Contenedor tarjetas
**********************/
.contenedorTarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  flex-wrap: wrap; /* Opcional si querés que se acomoden en varias filas */
}

/*********************
  Tarjetas Individuales
**********************/
.tarjetaIndividual {
  background-color: #bef587;
  display: flex;
  flex-direction: column;
  align-items: center;  /* centra en el eje cruzado (horizontal en column) */
  justify-content: center; /* centra en el eje principal (vertical en column) */
  gap: 1em;
  .tarjetaIndividual {
  max-width: 200px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
}
}